body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #004E38;
    color: white;
}

.signup-container {
    background: #c4b581;
    padding: 25px;
    margin-top: 40px;
    border-radius: 8px;
    width: 500px;
    color: black;
}

.signup-container form {
    display: flex;
    flex-direction: column;
}

.signup-container input {
    margin-bottom: 15px;
    padding: 9px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.signup-container button {
    padding: 10px;
    background: #004E38;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.signup-container button:hover {
    background: #004e38dc;
}

.login-text {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.page-not-found h1 {
    color:#c4b581;
}

.login-container {
    background: #c4b581;
    padding: 25px;
    margin-top: 40px;
    border-radius: 8px;
    width: 500px;
    color: black;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input {
    margin-bottom: 15px;
    padding: 9px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.login-container button {
    padding: 10px;
    background: #004E38;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.messages {
    width: 100%;
    height: 500px;       
    border: 2.5px solid #000000;
    padding: 10px;
    overflow-y: auto;
    background-color: #c4b581;
    margin-bottom: 25px;
}

.chat button {
    background:#c4b581;
}
.chat button:hover {
    background:#c4b681e8;
}

.chat input {
    background:#c4b581;
}

.chatroom {
    color:#c4b581;
}